* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "button-back button-back button-back button-back button-back button-back"
        "personal-information personal-information personal-information personal-information personal-information personal-information"
        "personal-information personal-information personal-information personal-information personal-information personal-information"
        "personal-information personal-information personal-information personal-information personal-information personal-information"
        "personal-information personal-information personal-information personal-information personal-information personal-information";
    height: 100vh;
    overflow: hidden;
}

.personal-information {
    grid-area: personal-information;
}


.button-back {
    grid-area: button-back;
}


/* Style buttons */
.btn {
    background-color: black;
    border: none;
    color: rgb(217, 248, 252);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.6765736578326587326578s;
    margin-top: 5%;
    height: 70%;
    width: 95%;
    margin-left: 3%;
    padding: 4px;
    margin-top: 2%;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(124, 123, 123);
  }

.text {
    color: white;
    font-family: "arial";
}

.text_1Box {
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

