* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.top_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "header header header header"
        "any-links-or-buttons any-links-or-buttons any-links-or-buttons any-links-or-buttons"
        "any-links-or-buttons any-links-or-buttons any-links-or-buttons any-links-or-buttons"
        "any-links-or-buttons any-links-or-buttons any-links-or-buttons any-links-or-buttons"
        "any-links-or-buttons any-links-or-buttons any-links-or-buttons any-links-or-buttons"
        "blackbar blackbar blackbar blackbar";
    height: 100vh;
    overflow: hidden;
}

.header {
    grid-area: header;
    overflow: hidden;
}

.any-links-or-buttons {
    grid-area: any-links-or-buttons;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.blackbar {
    grid-area: blackbar;
    background-color: black;
    overflow: hidden;
}


.bottom_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 10px 4px;
    grid-auto-flow: row;
    height: 100vh;
    grid-template-areas:
        "skills skills skills skills"
        "skills skills skills skills"
        "skills skills skills skills"
        "skills skills skills skills"
        "skills skills skills skills"
        "skills2 skills2 skills2 skills2"
        "footer footer footer footer";
    overflow-y: hidden;
}

.footer {
    grid-area: footer;
    background-color: rgba(46, 46, 46, 0.441);
    overflow: hidden;
}

.skills {
    grid-area: skills;
}

.skills2 {
    grid-area: skills2;
    overflow: hidden;
}

.text {
    color: white;
    font-family: "arial";
}

/* .information_div {

} */

.footer>.box {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* header style */
#header {
    background-color: rgba(128, 128, 128, 0.441);
    height: 100%;
}

h1 {
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* button(s) */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.linkicon {
    max-width: 60px;
    height: auto;
    overflow: hidden;
}

.box {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 2.48686798423768427674263427%;
}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}


.container_skilss {
    width: 100%;
    background-color: #ddd;
    border: 4.38217421642168732684732px rgb(121, 121, 121) solid;
}

.skills_p {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 60%;
    background-color: rgb(67, 149, 58);
    height: 10%;
}

.css {
    width: 50%;
    background-color: rgb(67, 149, 58);
    height: 20%;
}

.js {
    width: 5%;
    background-color: rgb(67, 149, 58);
    height: 10%;
}

.Python {
    width: 30%;
    background-color: rgb(67, 149, 58);
    height: 10%;
}

.skills>.box {
    display: block;
}

.skills .box .text_1Box {
    overflow-y: auto;
}

.any-links-or-buttons>.box {
    border-radius: 0%;
}

.skills2 img {
    max-width: 100px;
    height: auto;
}

#text_container {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
}

#image_container {
    display: flex;
}

.skills2>.box>.text_1Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Style buttons */
.btn {
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(217, 248, 252);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.6765736578326587326578s;
    width: 300px;
    height: 100px;
    margin: 15px;
    padding: 4px;
    margin-top: 5%;
    border: 2px rgb(121, 121, 121) solid;
    border-radius: 4.7297219379821739281739128%;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(124, 123, 123);
}

.footer>.box {
    border-radius: 0;
}



@media screen and (max-width: 420px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-auto-columns: 1fr;
        gap: 10px 4px;
        grid-auto-flow: row;
        height: 100vh;
        grid-template-areas:
            "header header "
            "header header "
            "any-links-or-buttons any-links-or-buttons"
            "student-information skills"
            "student-information skills"
            "skills2 skills2"
            "footer footer";
    }

    .any-links-or-buttons>.box {
        flex-direction: column;
    }

    .btn {
        text-align: center;
    }
}