*{
    margin: 0;
    padding: 0;
}


.container_information{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

#text_container{ 
    color: white;
    position: relative;
    margin: 12px;
    padding: 4px;
    text-align: left;
}

#image_container{
    position: relative;
    flex-basis: 70%;
    margin: 50px 150px 50px;
    padding: 10px;
}

